@import "./footer.css";
@import "./globals.css";
@import "./header.css";
@import "./index-card.css";

header {
  background: url("../images/ikigai-scrabble.jpeg");
  background-size: 200px;
  height: 105px;
}

@media (min-width: 800px) {
  #cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100% auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100% auto;
    width: 300px;
    border: 1px #808080 solid;
    border-radius: 3%;
    margin: 10px;
  }
}
